
 #redes{
    font-family: 'Handlee', cursive;
    text-align: center;
    margin-bottom: 30px;
 }
 #informacion p{
     border-radius: 5px;
     font-family: 'Handlee', cursive;
     background-color: rgb(195, 153, 214);
     width: 380px;
     height: 250px;
     margin: 0px auto;
     padding: 20px;
     margin-bottom: 50px;
     
 }
 img{
  
    height: 250px;
    border-radius: 10px;
    display:block;
    margin: 0px auto;
}