<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre mi ♥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 id="redes">Informacion Personal</h1>
    
    <div id="informacion">
        <p>
            Mi nombre: Abril Hernández Hernández <br>
            Edad: 22 años <br> 
            Escuela: Escuela Superior de Ingenieria Mecánica y Electrica IPN <br>
            Carrera: Ingeniería en Computación
            Hobby: Ver peliculas y Series <br>  
            Email: abril.hernandez@gmail.com <br>
            Telefono: 55-45-48-95-31 <br> 
            Lugar actual de residencia: Ciudad de México <br>
         </p>
       
         <div>
            <img id="ESIME" src="../../../assets/3.jpeg">
           
         </div>
        
        
    </div> 
</ion-content>
