<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
      Photos Tinder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    
      <ion-slide>
        <div class="first">
          <h1>Alejandro Speitzer</h1>
          <h2>Actor</h2>
          <img src="../../../assets/1.jpg">
          <div>
            <button (click)="MeGusta(1)">♥</button>
          </div>
         
        </div>
      </ion-slide>
  
  
      <ion-slide>
        <div class="first">
          <h1>Chris Evans</h1>
          <h2>Actor</h2>
          <img src="../../../assets/5.png">
          <div >
            <button (click)="MeGusta(2)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>Jason Momoa </h1>
          <h2>Actor</h2>
          <img src="../../../assets/6.jpg">
          <div>
            <button (click)="MeGusta(3)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>Henry Cavill</h1>
          <h2>Actor</h2>
          <img src="../../../assets/7.png">
          <div>
            <button (click)="MeGusta(4)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>Mishi Momido </h1>
          <h2>Mascota</h2>
          <img src="../../../assets/8.jpg">
          <div>
            <button (click)="MeGusta(5)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1></h1>
          <h2>Actor</h2>Jamie Dornan
          <img src="../../../assets/9.jpg">
          <div>
            <button (click)="MeGusta(6)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>Tom Holland</h1>
          <h2>Actor</h2>
          <img src="../../../assets/10.jpg">
          <div>
            <button (click)="MeGusta(7)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>AuronPlay</h1>
          <h2>Gameplay</h2>
          <img src="../../../assets/11.jpg">
          <div>
            <button (click)="MeGusta(8)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1> Michael B. Jordan</h1>
          <h2>Actor</h2>
          <img src="../../../assets/12.jpg">
          <div>
            <button (click)="MeGusta(9)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>Zendaya Maree</h1>
          <h2>Actriz</h2>
          <img src="../../../assets/13.jpg">
          <div>
            <button (click)="MeGusta(10)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>Ester Exposito</h1>
          <h2>Actriz</h2>
          <img src="../../../assets/14.jpg">
          <div>
            <button (click)="MeGusta(11)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="first">
          <h1>Roos Lynch</h1>
          <h2>Cantante</h2>
          <img src="../../../assets/15.jpg">
          <div>
            <button (click)="MeGusta(12)">♥</button>
          </div>
        </div>
      </ion-slide>
  
      
    
  </div>
  
</ion-content>
