.titulo{
    font-family: 'Montserrat', sans-serif;
}



.contenedor{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    margin: 0px auto;
    height: 100%;

}

.botondiv{
    width: 150px;
    margin: 0px auto;
    margin-top: 40%;
    
    
}

.imagen{

    width: 130px;
    margin: 0px auto;
    margin-bottom: 10px;
}


 #boton{
     
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   margin: 0px auto;
  background: #fafafa;
   border-radius: 28px;
   color: #000000;
   font-size: 20px;
   font-family: 'Cabin', sans-serif;
   padding: 19px;
  margin-bottom: 20px;
}

#boton2{
    width: 145.3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   background: #fafafa;
    border-radius: 28px;
    color: #000000;
    font-size: 20px;
    padding: 19px;
    font-family: 'Cabin', sans-serif;
}

.boton:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    text-decoration: none;
  }

