

h1{
    font-family: 'Handlee', cursive;
    text-align: center;
    font: bold;
    color: salmon;
}

img{
    margin-top: 30px;
    height: 450px;
    border-radius: 8px;
    display:block;
    margin: 0px auto;
}
#footer{
    
    margin-top: 40px;
    color: rgb(0, 0, 0);
}
p{
    font-family: 'Handlee', cursive;
    text-align: center;
}
    
