<ion-header>
  <ion-toolbar>
    <ion-title class="titulo1">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content [fullscreen]="true" >

 
    <div class="contenedor">

    


  <div>
    <div class="boton2" >
      <button class="botonsesion" [routerLink]="['']" ></button>
    </div>
  <h1 class="nusuario">{{perfilUsuarioRegis.nombre}} {{perfilUsuarioRegis.apellido}}</h1>
  <h2>{{perfilUsuarioRegis.nombreusu}}</h2>

  <div class="imagen">
    <img src="https://img.icons8.com/ios/100/000000/user-male-circle.png"/>
  </div>

  <div class="info">
    <h1> Email: {{perfilUsuarioRegis.email}}</h1> 
  </div>
</div>
    
  <div class="boton1" >
  <button class="boton" (click)="MostrarLikes()">Ver me gusta</button>
  </div>

  <div class="MeGusta" *ngFor="let megusta of likes">
    <h1>{{megusta.nombre}}</h1> 
    <h2>{{megusta.ocupacion}}</h2> 
    <img src={{megusta.imagen}}> 
  </div>

</div>

  </ion-content>


