.titulo{
    font-family: 'Montserrat', sans-serif;
}

p{
   text-align: center;
   font-size: 22px;
    font-family: 'Cabin', sans-serif;

}


table{
    margin: 0px auto;
font-family: 'Cabin', sans-serif;
border-collapse: separate;
border-spacing: 20px;

border: #f779a5 3px solid;
}
td{
  font-size: 15px;
}
th{
    font-size: 18px;
}

